.whole{
		background-image: url(../images/benjamin-faust-7648.jpg);
		 background-position: 100%;
		 background-size: cover;
		 height: 800px;
		 
		 align-content: center;

	
	
	
	}
		.signin{
			padding-top: 100px;
			padding-bottom: 250px;
			padding-left:80px; 
		    margin:0 auto;
            display: table;
            
            
		}
		.head {
			font-size:30px;
			letter-spacing: 1px;
			font-style: sans-serif;
			text-transform: uppercase;
			text-align: left;
			font-weight: bolder;
			text-shadow:2px 2px #4DEDCB;
		}
		#form-input input{
			padding-top: 10px;
			margin-bottom: 15px;
			background:none;
			border: none;
			outline:none;
			padding-top: 20px;
			border-bottom: 2px solid  black ;
            font-style: italic ;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
             
}  
          }
          input[type=text]{
          	color:black;  
          }
		
		.button-button{
			padding: 10px 30px;
			padding-right:50px;
			color:black;
			text-transform: uppercase;
			font-weight: bolder;
			cursor: pointer;
			border:2px solid #4DEDCB   ;
			margin:4px ;
			background: linear-gradient(to left,#4DEDCB  ,#F793E5)

			
		}
		#button a{
			color:black;
			text-decoration: none;
		}